<h3>Hello Warrior!</h3>

<div ng-init="ctrl.getLevel(currentLevel)">
    <h4>{{motivation}}</h4>
    <h5>{{level.objective}}</h5>

    <div class="tile" ng-repeat="tile in level.tiles">
        <span ng-show="tile.heroIsHere">Hero!</span>
        <span ng-show="tile.isExit">Exit!</span>
    </div>
</div>

<textarea id="inputCode" ng-model="userCode">
</textarea>
<button ng-click="ctrl.executeCode()">Execute</button>
<div id="displayResults" ng-switch="isError">
    <span ng-switch-when="false">{{results}}</span>
    <div ng-switch-when="true" class="failure">
        <span ng-repeat="error in errors track by $index"> {{error}}</span>
    </div>
</div>
